.competitor-card:hover {
    background: #ececec;
}

body {
    background: #1a1a1a !important;
}

.toast-class-name {
    border-radius: 5px;
    background: rgb(188, 69, 69);
    font-weight: bold;
    padding: 5px;
    color: white;
    /*box-shadow: 1px 1px 10px #919191;*/
    cursor: alias;
    margin: 14px;
}
